{% extends "html/base.html" %}
 {% block content%}


  <table method="post" style=" margin: auto; margin-top: 100px;">
    <h1 style="color: red; text-align: center">Your orders:</h1>
      <div class="card text-center mx-auto mt-5" style="width: 22rem;">
      <div class="card-header">Payment Here
      </div>
      <div class="card-body">  
        <h5 class="card-title">Amount </h5>
        <p class="card-text">{{ form.as_p }}</p>
        <a href="#" class="btn btn-primary">Make Payment</a>
      </div>
</div>



{% endblock %}
